<mat-progress-bar mode="indeterminate" *ngIf="this.show_spinner"></mat-progress-bar>
<div class="signal-outer-container">
    <div class="container">
        <div class="chart-container">
            <canvas id="canvas2" height="350" width="500">{{chart2}}</canvas>
        </div>
        <div class="signal-container" *ngIf="!this.show_spinner">
            <div style="padding: 20px;font-size: 18px;">Last Closing Price: <span style="font-weight: 600;">{{last_closing_price}}</span></div>
            <div style="padding: 20px;font-size: 18px;">Tomorrow's Opening Price: <span style="font-weight: 600;">{{predictedValue}}</span></div>
            <table style="width: 100%;" id="customers">
                <th>
                    Moving Average
                </th>
                <th>
                    Value
                </th>
                <th>
                    Signal
                </th>
                <tr>
                    <td>20</td>
                    <td>{{this.moving_20_signal}}</td>
                    <td>{{this.moving_average_20_signal}}</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>{{this.moving_50_signal}}</td>
                    <td>{{this.moving_average_50_signal}}</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>{{this.moving_100_signal}}</td>
                    <td>{{this.moving_average_100_signal}}</td>
                </tr>

            </table>
            
        </div>
    </div>
</div>

