<style>
    .container{
        height: 100vh;
        display:flex;
        align-items: center;
        background-image: url('assets/bull.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .create-user-box{
        text-align: center;
        border-radius: 7px;
        height: 65%;
        min-width: 300px;
        width: 20%;
        box-shadow: 5px 5px 20px darkcyan;
        padding-top: 2%;
    }
    .create-user-heading{
        font-size: 25px;
        font-weight: 600;
    }
    .error-msg{
        margin-top: 5%;
        color: red;
        font-size: 22px;
    }
    .logo{
        height: 80%;
        width: 20%;
    }
    input{
        height: 8%;
        width: 80%;
        border-radius: 5px;
        padding-left: 4%;
        font-size:18px;
    }
    button{
        border-radius: 5px;
        width: 70%;
        height: 8%;
        background-color: #06283D;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    a{
        color: white;
    }
</style>

<div class="container">
    <div class="logo">
    </div>
    <div class="create-user-box">
        <img src="assets/logo1.png" style="height: 100px; width: 100px;border-radius: 50px;">

        <input style="margin-top:20%;" [formControl]="name" placeholder="Enter Username"><br>
        <input style="margin-top:15%;" [formControl]="pass" type="password" placeholder="Enter Password"><br>
        <button style="margin-top: 20%; margin-bottom: 5%;" (click)="loginUser()">Login</button><br>
        <span style="font-size: 18px; font-weight: 550;">Don't have an account? <a href="createUser">Sign up.</a></span>
        <div class="error-msg" *ngIf="errmsg!=''">{{ errmsg }}</div>
    </div>
</div>
     