.container{
    height: 100vh;
    display:flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.guest-div{
    margin-left: 20%;
}
.guest-div > button{
    height: 45px;
    width: 200px;
    background-color: white;
    border: none;
    color: black;
    box-shadow: 5px 5px 20px rgb(178, 178, 178);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5%;
}

.guest-div > button:hover{
    background-color: rgb(238, 235, 235);

}
.create-user-box{
    text-align: center;
    border-radius: 7px;
    height: 65%;
    min-width: 300px;
    width: 20%;
    box-shadow: 5px 5px 20px rgb(178, 178, 178);
    padding-top: 2%;
}
.create-user-heading{
    font-size: 25px;
    font-weight: 600;
}
.error-msg{
    margin-top: 5%;
    color: red;
    font-size: 16px;
}
.logo{
    height: 80%;
    width: 20%;
}
input{
    height: 8%;
    width: 80%;
    border-radius: 5px;
    padding-left: 4%;
    font-size:18px;
}
button{
    border-radius: 5px;
    width: 70%;
    height: 8%;
    background-color: #06283D;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
a{
    color: black;
}