.prediction30-container{
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.24);

    height: 92vh;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(56, 54, 54);
    }
    .during-load{
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.chart-container{
    width: 80%;
    margin-left: 10%;
    padding-top: 2.5%;
}
.chart-info{
    padding-top: 4%;
    text-align: center;
}
