<div>
    <app-header></app-header>
</div>
<div class="dashboard-watchlist-container">
    <div class="info" [ngStyle]="{ 'display': show_info ? 'block' : 'none'}">
        Info
    </div>
    <div class="appCharts" [ngStyle]="{ 'display': show_chart ? 'block' : 'none'}">
        <app-charts></app-charts>
    </div>
    <div class="prediction" *ngIf="show_predict">
        <app-prediction></app-prediction>
    </div>
    <div class="prediction30" [ngStyle]="{ 'display': show_predict30 ? 'block' : 'none'}">
        <app-predict30></app-predict30>
    </div>
    <div class="app-watchlist">
        <app-watchlist></app-watchlist>
    </div>
</div>
