<div>
    <app-header></app-header>
</div>
<div class="dashboard-watchlist-container">
    <div class="info-container" [ngStyle]="{ 'display': show_info ? 'block' : 'none'}">
        <div class="info" style="line-height: 1.5;font-size: 18px;">
            Welcome to TradeSense! <br><br>
            Are you a day trader seeking accurate predictions of tomorrow's closing prices for stocks? Look no further!
             With TradeSense, you can select a stock from our watchlist and embark on your trading journey with confidence.<br><br>

             We understand the power of historical data and the principle that "the past repeats itself." That's why we go 
             beyond basic predictions and provide you with comprehensive charts showcasing all the price movements an asset has 
             exhibited in the past. By analyzing these patterns and identifying similarities with the current movement, you can make more 
             informed trading decisions.<br><br>
             But that's not all! We believe in empowering our users with customization options. With our exclusive <button (click)="goToBuild()">"BUILD YOUR OWN!"</button> 
             feature, you can create personalized machine learning models that align with your unique requirements. Explore different 
             hyperparameters during the training process, test your models against historical data, and gain valuable insights and 
             statistics to enhance your trading strategies.<br><br>
             At TradeSense, we strive to make your trading experience enjoyable and educational. Unlock the power of machine learning and
              take your trading to new heights with TradeSense. 
              <br><br>

        </div>
    </div>
    <div class="appCharts" [ngStyle]="{ 'display': show_chart ? 'block' : 'none'}">
        <app-charts></app-charts>
    </div>
    <!-- <div class="prediction" *ngIf="show_predict">
        <app-prediction></app-prediction>
    </div> -->
    <div class="prediction30" *ngIf="show_predict30">
        <app-predict30></app-predict30>
    </div>
    <div class="showSignals" *ngIf="show_signals">
        <app-signals></app-signals>
    </div>
    <div class="app-watchlist">
        <app-watchlist></app-watchlist>
    </div>
</div>
