.dashboard-watchlist-container{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.appCharts{
    flex:85vw;
}
.app-watchlist{
    flex:15vw;
}
.prediction{
    flex: 85vw;
}
.info{
    flex: 85vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.prediction30{
    flex: 85vw;
}
